{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>sm

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand font-title">IVM</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-nav navbar-right logout">
                <li>
                    <a href="/accounts/logout"> Log Out</a>
                </li>
            </ul>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li id="dashboard">
                        <a href="/accounts/manage"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </ul>

                  </div>
                </div>

            </div>
            <!-- /.navbar-collapse -->

        </nav>


        <div id="page-wrapper">

            <div class="container-fluid" style="margin-top: 90px;">
                <div class="" id="name_info">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-3">
                        <h1>
                            My Account
                        </h1>
                    </div>

                    <div class="col-sm-4">

                      {% if editInfo %}
                        <form class="form-group" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <h3><span class="label label-info">Username</span></h3>
                            <p>{{ user.username }}</p>
                          </div>
                          <div class="form-group">
                            <h3><span class="label label-info">First name</span></h3>
                            <input name="first_name" type="text" value="{{ account.firstname }}"/>
                          </div>
                          <div class="form-group">
                            <h3><span class="label label-info">Last name</span></h3>
                            <input name="last_name" type="text" value="{{ account.lastname }}"/>
                          </div>
                          
                          </br>
                          </br>
                          <div class="form-group">
			  	<h3><span class="label label-info">My Voice</span></h3>
                          	<select id="voice" name="voice" class="form-control">
                            	    <option id="select" value="select"> Select </option>
                          	</select>
                          </div>

                          <div class="form-group">
                              <button name="updateBtn" type="submit" class="btn btn-primary">Update</button>
                          </div>
			
                        </form>
                      {% endif %}


                      {% if not editInfo %}
                      <div class="lead">
                        <span class="label label-info">Username</span>
                        <p>{{ user.username }}</p>
                        </br>
                        <span class="label label-info">First name</span>
                        <p>{{ account.firstname }}</p>
                        </br>
                        <span class="label label-info">Last name</span>
                        <p>{{ account.lastname }}</p>
                      </div>
                      {% endif %}
                        {% for error in errorlist %}
                          {% if error == 12 %}
                            <ul class="alert alert-danger" align="middle">Your Voice cannot be empty!</ul>
                          {% endif %}
                        {% endfor %}
                    </div>


                </div>
                </div>

            </div>
            <!-- name_info -->

            <div class="container-fluid">
                <div class="" id="voice_info">
                    </br>
                    <div class="col-sm-1">
                    </div>
                    
                    {% if not editInfo %}
		    <div class="col-sm-3">
                        </br>
                        <h1>
                            My Voice
                        </h1>
                    </div>
                    <div class="col-sm-5" style="margin-top: 50px;">
                      <p>{{ account.voice }}</p>
                    </div>
                    
                    <div class="col-sm-3" style="margin-top: 40px;">
                      <form id="edit" class="form-group" method="POST">
                        {% csrf_token %}
                        <button name="editBtn" type="submit" class="btn btn-primary">Edit Account</button>
                      </form>
                    </div>
                    {% endif %}
                    {% if editInfo %}
                    <div class="col-sm-3 col-sm-offset-8" style="margin-top: 40px;">
                      <form id="edit" class="form-group" method="POST">
                        {% csrf_token %}
                          
                      </form>
                    </div>
                    {% endif %}

                    <div class="col-sm-12">
                        <h1 class="page-header">
                        </h1>
                    </div>

                </div>
            </div>
            <!-- voice_info -->

            <div class="container-fluid">

                <div class="" id="room_info">
                    </br>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-3">
                        </br>
                        <h1>
                            My Room
                        </h1>
</li>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createClassModal">Create a New Room</button>

                        <div id="createClassModal" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                              <div class="modal-content" role="document">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Create a New Room</h4>
                                  </div>

                                  <div class="modal-body">

                                  <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label for="recipient-name" class="control-label">Enter the name for you room:</label>
                                      <input id="room_name" name="room_name" type="text" class="form-control" id="recipient-name">
                                    </div>
                                  </div>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button name="createRoomBtn" type="submit" class="btn btn-primary">Create</button>
                                  </div>
                                  </form>
                              </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-5" style="margin-top: 60px;">
                      <div class="list-group">
                        {% for entry in chatToUser %}
                          <a href= "/chat/{{ entry.room.title }}" class="list-group-item">{{ entry.room.title }}</a>
                        {% endfor %}
                      </div>
                      </br>
                      </br>
                    </div>

                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-5">
                        {% for error in errorlist %}
                          {% if error == 4 %}
                            <ul class="alert alert-danger" align="middle">Room Name cannot be empty!</ul>
                          {% elif error == 5 %}
                            <ul class="alert alert-danger" align="middle">Room Name already exists!</ul>
                          {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!-- room_info -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script>
      var voice = "{{ account.voice }}";
      $('#dashboard').addClass('active');

    </script>
    <script src="{% static "js/signup.js" %}"></script>
    <script>
      $('#room_name').on('input',replaceSpaces);
    </script>

</body>

</html>
